input {
    color: #fff;
    outline: none;
}

.contactMe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactLeft {
    padding: 10px 0;
    width: 70%;
}

.contactLeft ul li {
    list-style-type: none;
    display: flex;
    padding: 13px;
}

.iconAwesome:hover {
    color: #fff;
}

.contactLeft ul li span {
    color: #fff;
    font-size: 25px;
    position: relative;
}

.contactLeft ul li div:nth-child(1) {
    font-size: 40px;
    margin-right: 10px;
    width: 60px;
    text-align: center;
    color: #00bfff;
}

.contactLeft ul li div:nth-child(2) span {
    font-size: 18px;
    font-weight: 300;
}

.iconContainer {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contactLeft ul li p {
    color: #fff;
    margin: 10px 0;
    position: relative;
}

.contactRight {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 30%;
}

.contactRightTop {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: start;
    flex-direction: column;
    text-align: center;
}

.contactRightTop>h3 {
    padding: 15px 0;
    position: relative;
}

.iconSocial:hover {
    color: #00bfff;
    transform: scale(1.1);
}

.contactRightTop a {
    outline: none;
}

.iconSocial {
    outline: none;
    font-size: 70px;
    padding: 5px 10px;
    color: #fff;
}

.contactRightBottom {
    padding: 15px 0;
    width: 100%;
}

.formSub {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: left;
    background: #fff;
    height: 43px;
    background-color: #000;
}


/* .iconAgile {
    color: #00bfff;
} */

.iconAgile {
    font-weight: 900;
    font-size: 37px;
    color: #00bfff;
    margin: 25px;
}

.iconAgile:hover {
    color: #fff;
}

.input {
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    background-color: #000;
    border-bottom: 1px solid #fff;
}

.input::placeholder {
    color: #fff;
    font-size: 15px;
}

.submitContainer {
    width: 100%;
    text-align: center;
}

.submit {
    padding: 10px 15px;
    color: #fff;
    font-weight: bold;
    background-color: #000;
    border: 1px solid #fff;
    outline: none;
}

.submit:hover {
    color: #00bfff;
    transform: scale(1.1);
    border: 1px solid #00bfff;
}

.textAria {
    color: #fff;
    font-size: 16px;
}

.formSub .textAria::placeholder {
    color: #fff;
}